body {
  margin: 0;
  padding: 0;

  background-image:  url("alf_stickers.jpg");
                    
  background-repeat: round round;
  background-size: auto;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.message-header {
  align-items: center;
  background-color:  	#4B0082;
  border-radius: 4px 4px 0 0;
  color: #fff;
  height: 80;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  line-height: 1.25;
  padding: .75em 1em;
  position: relative;
}
